
body{
    background-color: rgb(224, 220, 210);
    display: flex;
    
    
}


.luna
{
    border-top-right-radius: 0px;
border-bottom-right-radius: 0px;  
border-bottom-left-radius: 50px; 
border-top-left-radius: 50px;
width: 20px;
height: 40px;
rotate: 20px 80px;



 background-color: black;
}
.contenedor :hover{
 
}

.contenedor{

   
    

    margin: auto auto;
    border-radius: 20px;
  display: flexbox;

   justify-items: center;

  



   
 
   
    
   
    
  
    background-color: rgb(57, 64, 96);
/*align-items: flex-end;*/
    height: 480px;
    width: 23%;
}

button{
    border: none;
    border-radius: 50% ;
    height: 50px;
    width: 50px;
    margin: 5px;
 
}



input{
    
    background-color: transparent;
    height: 55px;
    width: 240px;
    border: 0.5px solid rgba(156, 156, 156, 0.349);
    border-radius: 10px;
    display: flex;
   

   

}
.dividir, .por, .resta, .mas, .igual{
    color: white;
    background-color: rgb(250, 165, 6);
}

.primeros{
    margin-top: 20px;
}

input :active{
    color: brown;
   
}


